/*$card-product-hover-price-color: $quinary-color;
$card-product-hover-title: $secondary-color;*/
body {
  background: #fff; }

h4 {
  font-weight: 600;
  color: #6B9940; }

a,
h5,
.lead {
  color: #6B9940; }

/*Site wide button controllers using variables*/
button {
  background-color: #6B9940 !important; }

button:hover {
  background-color: #904099 !important; }

.is-active {
  background-color: #ADE577 !important; }

a.button {
  background-color: #6B9940; }

a.button:hover {
  background-color: #904099 !important; }

.close-button {
  color: #46114D; }
  .close-button span {
    background-color: #e6e6e6; }

aside {
  background-color: #fff; }

hr {
  border-bottom: 1px solid #c951d9; }

.z-control {
  z-index: 2; }

.z-control-2 {
  z-index: 1; }

/*icon styles*/
.fi-social-facebook,
.fi-shopping-cart,
.fi-map:before {
  color: #6B9940;
  font-size: 2rem; }

.fi-social-youtube,
.fi-star,
.fi-social-instagram {
  color: #fff;
  font-size: 2rem; }

.fi-social-twitter,
.fi-share,
.fi-social-pinterest,
.fi-mail:before {
  color: #ADE577;
  font-size: 2rem; }

.fi-list {
  color: #ADE577;
  background-color: #46114D;
  margin: 0 1rem 0 0;
  font-size: 2.5rem; }

.fi-telephone:before {
  color: #904099;
  font-size: 2rem; }

#offCanvas .fi-social-youtube, #offCanvas .fi-social-facebook, #offCanvas .fi-social-instagram {
  color: #46114D; }

/*Navbar controls*/
.scrollhide-nav {
  position: fixed;
  right: 0;
  top: 0;
  left: 0;
  transition: transform 1s cubic-bezier(0.86, 0, 0.07, 1);
  background-color: #46114D; }
  .scrollhide-nav.hidden {
    transform: translateY(-100%); }

.dropdown li a,
.menuitem a,
.menu-text {
  color: #fff !important; }

.dropdown li a:hover {
  color: #904099 !important; }

.top-bar-left ul li button {
  background-color: #46114D !important; }

.top-bar,
.top-bar-left,
.top-bar ul {
  background-color: #46114D !important; }

/*Footer controls - large display*/
.marketing-site-footer {
  background: #46114D;
  color: #fdf8fe;
  padding: 2rem 1rem 0 1rem; }
  .marketing-site-footer .marketing-site-footer-menu-social a {
    color: #fff; }
  .marketing-site-footer .cell-block {
    margin-bottom: 30px; }
  .marketing-site-footer > .grid-x {
    margin-bottom: 1rem; }
    .marketing-site-footer > .grid-x .cell p {
      margin-right: 0.5rem; }

.marketing-site-footer-name {
  color: #fff;
  margin-bottom: 1rem;
  font-size: 2rem; }

.marketing-site-footer-title {
  color: #fff;
  margin-bottom: 1rem;
  font-size: 1.25rem; }

.marketing-site-footer-block {
  display: flex;
  margin-bottom: 1rem; }
  .marketing-site-footer-block .fa {
    font-size: 2rem;
    color: black; }
  .marketing-site-footer-block p {
    margin-left: 1rem;
    line-height: 1.125rem; }

.marketing-site-footer-bottom {
  background: #46114d;
  padding: 1rem 0; }
  .marketing-site-footer-bottom p,
  .marketing-site-footer-bottom .menu {
    margin-bottom: 0; }
  .marketing-site-footer-bottom .marketing-site-footer-bottom-links {
    justify-content: flex-end; }
    .marketing-site-footer-bottom .marketing-site-footer-bottom-links a {
      color: #fdf8fe; }

/*Product cards*/
.card-product-hover-title {
  font-size: 1.5rem;
  color: #6B9940;
  font-weight: 400;
  margin-bottom: 0.2rem; }

.card-product-hover {
  position: relative;
  line-height: 1.2rem;
  transition: all 0.35s ease; }

.card-product-hover-details {
  padding: 5px;
  color: #ADE577;
  font-size: 2rem; }

.card-product-hover-price {
  margin: 0.5rem 0;
  font-weight: 700;
  color: #000000;
  font-size: 1.5rem; }

.card-product-hover-icons {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0.5rem;
  display: flex;
  flex-direction: cell;
  justify-content: flex-start; }

.card-product-hover-icons a i {
  display: block;
  font-size: 1.5rem;
  line-height: rem-calc(40);
  width: rem-calc(40);
  background-color: #fff;
  text-align: center;
  color: #000000; }

.card-product-hover-icons a i:hover {
  background-color: #46114D;
  color: #fff;
  cursor: pointer;
  z-index: 2; }

.card-product-hover-icons a {
  margin: 0.25rem;
  opacity: 0;
  transform: translateY(50%);
  transition: all 0.35s ease; }

.card-product-hover:hover a,
.card-product-hover.hover a {
  transition: all 0.35s ease;
  opacity: 1;
  transform: translateX(0); }

.card-product-hover:hover a:nth-child(2),
.card-product-hover.hover a:nth-child(2) {
  transition-delay: 0.1s; }

.card-product-hover:hover a:nth-child(3),
.card-product-hover.hover a:nth-child(3) {
  transition-delay: 0.2s; }

/*Top products section - homepage*/
.media-object-section p {
  padding-right: 2rem; }

/*Shopping cart*/
.product-details {
  background-color: #fff;
  padding: 2rem; }

.product-option-selection input[type=radio] {
  display: none;
  margin: 2rem; }

.product-option-selection input[type=radio] + label {
  display: inline-block;
  margin: -2px;
  border-color: #6B9940;
  margin-right: 0.3rem;
  margin-top: 0.25rem;
  margin-bottom: 1.5rem;
  padding: 0.4rem; }

.product-option-selection input[type=radio]:checked + label {
  background: #904099;
  border: 1px solid #6B9940;
  border-radius: 3px;
  color: #333333;
  font-weight: 600;
  padding: 0.3rem; }

.product-details-add-to-cart {
  margin-top: 1rem;
  background-color: #fff;
  border: solid 1px #46114D;
  margin-bottom: 3rem;
  padding: 1.5rem; }
  .product-details-add-to-cart .in-stock {
    color: #000000;
    font-weight: 700; }
  .product-details-add-to-cart .dim-text {
    color: #46114D; }
  .product-details-add-to-cart .price {
    float: right;
    font-weight: 600;
    font-size: 1.5rem;
    color: #2c3f1a; }
  .product-details-add-to-cart .qty {
    width: 3rem;
    display: inline-block;
    text-align: center;
    margin-left: 1rem;
    margin-bottom: 0; }
  .product-details-add-to-cart .button {
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 600; }

/*Checkout*/
.checkout-summary {
  max-width: 100%;
  background-color: #fff;
  justify-content: center; }
  .checkout-summary button {
    font-size: 1rem;
    font-weight: 600;
    /*background-color: $secondary-color !important;*/ }

.checkout-summary-title {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  border: 1px solid #000000; }

.checkout-summary-item {
  border-left: 1px solid #000000;
  border-right: 1px solid #000000;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 1px solid #000000; }
  .checkout-summary-item .item-name,
  .checkout-summary-item .item-price {
    padding: 0 1rem; }
    .checkout-summary-item .item-name p,
    .checkout-summary-item .item-price p {
      margin: 0;
      padding: 0; }
  .checkout-summary-item .title {
    font-weight: bold; }

.checkout-summary-details {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  border: 1px solid #000000;
  border-top: none; }

/*Contact form*/
.contact-us-section {
  padding: 2rem;
  background: #fff; }
  .contact-us-section .contact-us-section-left {
    padding-right: 2rem;
    border-bottom: 1px solid #c951d9;
    padding-bottom: 2rem;
    margin-bottom: 2rem; }
  .contact-us-section .contact-us-section-right {
    padding-left: 2rem;
    padding-right: 2rem; }
  .contact-us-section .contact-us-header {
    margin-bottom: 2rem;
    margin-left: 4rem; }
  .contact-us-section .contact-us-header-form {
    margin-bottom: 2rem;
    margin-left: 2rem; }

.contact-us-form input[type=text],
.contact-us-form input[type=email],
.contact-us-form textarea {
  margin-bottom: 2rem; }

.contact-us-form-actions {
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .contact-us-form-actions input[type=submit] {
    border-radius: 5000px;
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: #6B9940; }
  .contact-us-form-actions input[type=submit]:hover {
    background-color: #904099; }
  .contact-us-form-actions .contact-us-file-button {
    background: transparent;
    color: #ADE577; }

.contact-us-list {
  list-style-type: none;
  margin: 0;
  padding-left: 4rem; }
  .contact-us-list li a {
    color: #000000; }
  .contact-us-list li::before {
    margin-right: 2rem;
    font-size: 2rem;
    vertical-align: middle;
    color: #ADE577; }

@media screen and (max-width: 500px) {
  .marketing-site-footer {
    margin-bottom: 2rem; }
    .marketing-site-footer .grid-x .cell {
      justify-content: center !important; }
  .marketing-site-footer-bottom-links {
    justify-content: center !important; }
  .marketing-site-footer-bottom .cell > p {
    justify-content: center !important; } }

@media screen and (max-width: 768px) {
  .marketing-site-footer-bottom-links {
    justify-content: center;
    text-align: center; }
  .contact-us-section-left {
    border-bottom: 0;
    padding-bottom: 0;
    margin-bottom: 0; }
  .contact-us-header {
    font-size: 32px; } }
