@include mediaSm {
    .marketing-site-footer {
        margin-bottom: 2rem;
        .grid-x {
            .cell {
                justify-content: center !important;
            }
        }
    }

    .marketing-site-footer-bottom-links {
        justify-content: center !important;
    }

    .marketing-site-footer-bottom .cell > p {
        justify-content: center !important;
    }
  }

@include mediaMd {
    .marketing-site-footer-bottom-links {
        justify-content: center;
        text-align: center;
    }

    .contact-us-section-left {
        border-bottom: 0;
        padding-bottom: 0;
        margin-bottom: 0;
      }

      .contact-us-header {
          font-size: 32px;
        }
  }