@import "config";

body {
  background: $primary-color;
}

h4 {
  font-weight: 600;
  color: $secondary-color;
}

a,
h5,
.lead {
  color: $secondary-color;

  :hover {
    color: $quaternary-color;
  }
}


/*Site wide button controllers using variables*/
button {
  background-color: $secondary-color !important;
}

button:hover {
  background-color: $senary-color !important;
}

.is-active {
  background-color: $tertiary-color !important;
}

a.button {
  background-color: $secondary-color;
}

a.button:hover {
  background-color: $senary-color !important;
}

.close-button {
  color: $quaternary-color;
  span {
    background-color: #e6e6e6;
  }
}

aside {
  background: $primary-color !important;
}

hr {
  border-bottom: 1px solid lighten($quaternary-color, 40%);
}

.z-control {
  z-index: $z-index-control;
}

.z-control-2 {
  z-index: $z-index-control-2;
}


/*icon styles*/
.fi-social-facebook,
.fi-shopping-cart,
.fi-map:before {
  color: $secondary-color;
  font-size: $primary-font-size;
}

.fi-social-youtube,
.fi-star,
.fi-social-instagram {
  color: $primary-color;
  font-size: $primary-font-size;
}

.fi-social-twitter, .fi-share, .fi-social-pinterest, .fi-mail:before {
  color: $tertiary-color;
  font-size: $primary-font-size;
}

.fi-list {
  color: $tertiary-color;
  background-color: $quaternary-color;
  margin: 0 1rem 0 0;
  font-size: 2.5rem;
}

.fi-telephone:before {
  color: $senary-color;
  font-size: $primary-font-size;
}

#offCanvasicon {
    color:  $quaternary-color;
  }

/*Navbar controls*/

.scrollhide-nav {
  position: fixed;
  right: 0;
  top: 0;
  left: 0;
  transition: transform $scrollhide-nav-transition-speed cubic-bezier(0.86, 0, 0.07, 1);
  background-color: $quaternary-color;

  &.hidden {
    transform: translateY(-100%);
  }
}

.dropdown li a,
.menuitem a,
.menu-text {
  color: $primary-color !important;
}

.dropdown li a:hover {
  color: $senary-color !important;
}

.top-bar-left ul li button {
  background-color: $quaternary-color !important;
}

.top-bar,
.top-bar-left,
.top-bar ul {
  background-color: $quaternary-color !important;
}

.multilevel-accordion-menu li input {
  margin-bottom: 1rem;
}

.is-submenu-item a {
  color: $quaternary-color
}



/*Footer controls - large display*/
.marketing-site-footer {
  background: $quaternary-color;
  color: lighten($quaternary-color, 80%);
  padding: 2rem 1rem 0 1rem;

  .marketing-site-footer-menu-social a {
    color: $primary-color;
  }

  .cell-block {
    margin-bottom: 30px;
  }

  >.grid-x {
    margin-bottom: 1rem;

    .cell p {
      margin-right: 0.5rem;
    }
  }

}

.marketing-site-footer-name {
  color: $primary-color;
  margin-bottom: 1rem;
  font-size: $primary-font-size;
}

.marketing-site-footer-title {
  color: $primary-color;
  margin-bottom: 1rem;
  font-size: 1.25rem;
}

.marketing-site-footer-block {
  display: flex;
  margin-bottom: 1rem;

  .fa {
    font-size: $primary-font-size;
    color: darken($quaternary-color, 20%);
  }

  p {
    margin-left: 1rem;
    line-height: 1.125rem;
  }
}

.marketing-site-footer-bottom {
  background: darken($quaternary-color, 0%);
  padding: 1rem 0;

  p,
  .menu {
    margin-bottom: 0;
  }

  .marketing-site-footer-bottom-links {
    justify-content: flex-end;

    a {
      color: lighten($quaternary-color, 80%);
    }
  }
}

/*Product cards*/
.card-product-hover-title {
  font-size: $secondary-font-size;
  color: $secondary-color;
  font-weight: 400;
  margin-bottom: 0.2rem;
}

.card-product-hover {
  position: relative;
  line-height: 1.2rem;
  @include ease;
}

.card-product-hover-details {
  @include card-section;
}

.card-product-hover-price {
  margin: 0.5rem 0;
  font-weight: 700;
  color: $quinary-color;
  font-size: $secondary-font-size;
}

.card-product-hover-icons {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0.5rem;
  display: flex;
  flex-direction: cell;
  justify-content: flex-start;
}

.card-product-hover-icons a i {
  display: block;
  font-size: 1.5rem;
  line-height: rem-calc(40);
  width: rem-calc(40);
  background-color: $primary-color;
  text-align: center;
  color: $quinary-color;
}

.card-product-hover-icons a i:hover {
  background-color: $quaternary-color;
  color: $primary-color;
  cursor: pointer;
  z-index: $z-index-control;
}

.card-product-hover-icons a {
  margin: 0.25rem;
  opacity: 0;
  transform: translateY(50%);
  @include ease;
}

.card-product-hover:hover a,
.card-product-hover.hover a {
  @include ease;
  opacity: 1;
  transform: translateX(0);
}

.card-product-hover:hover a:nth-child(2),
.card-product-hover.hover a:nth-child(2) {
  transition-delay: 0.1s;
}

.card-product-hover:hover a:nth-child(3),
.card-product-hover.hover a:nth-child(3) {
  transition-delay: 0.2s;
}

/*Top products section - homepage*/
.media-object-section p {
  padding-right: $site-padding;
}

/*Shopping cart*/
.product-details {
  background-color: $primary-color;
  padding: $site-padding;
}

.product-option-selection {

  input[type=radio] {
    display: none;
    margin: 2rem;
  }

  input[type=radio]+label {
    display: inline-block;
    margin: -2px;
    border-color: $secondary-color;
    margin-right: 0.3rem;
    margin-top: 0.25rem;
    margin-bottom: 1.5rem;
    padding: 0.4rem;
  }

  input[type=radio]:checked+label {
    background: $senary-color;
    border: 1px solid $secondary-color;
    border-radius: 3px;
    color: lighten($quinary-color, 20%);
    font-weight: 600;
    padding: 0.3rem;
  }
}

.product-details-add-to-cart {
  margin-top: 1rem;
  background-color: $primary-color;

  border: solid 1px $quaternary-color;
  margin-bottom: 3rem;
  padding: 1.5rem;

  .in-stock {
    color: $quinary-color;
    font-weight: 700;
  }

  .dim-text {
    color: $quaternary-color;
  }

  .price {
    float: right;
    font-weight: 600;
    font-size: 1.5rem;
    color: darken($secondary-color, 25%);
  }

  .qty {
    width: 3rem;
    display: inline-block;
    text-align: center;
    margin-left: 1rem;
    margin-bottom: 0;
  }

  .button {
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 600;
  }
}

/*Checkout*/
.checkout-summary {
  max-width: 100%;
  background-color: $primary-color;
  justify-content: center;

  button {
    font-size: 1rem;
    font-weight: 600;
    /*background-color: $secondary-color !important;*/
  }

}

.checkout-summary-title {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  border: 1px solid $quinary-color;
}

.checkout-summary-item {
  border-left: 1px solid $quinary-color;
  border-right: 1px solid $quinary-color;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 1px solid $quinary-color;

  .item-name,
  .item-price {
    padding: 0 1rem;

    p {
      margin: 0;
      padding: 0;
    }
  }

  .title {
    font-weight: bold;
  }
}

.checkout-summary-details {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  border: 1px solid $quinary-color;
  border-top: none;
}


/*Contact form*/
.contact-us-section {
  padding: $site-padding;
  background: $body-background;

  .contact-us-section-left {
    padding-right: $site-padding;
    border-bottom: 1px solid lighten($quaternary-color, 40%);
    padding-bottom: $site-padding;
    margin-bottom: $site-padding;
  }

  .contact-us-section-right {
    padding-left: $site-padding;
    padding-right: $site-padding;
  }

  .contact-us-header {
    margin-bottom: $site-padding;
    margin-left: 4rem;
    ;
  }

  .contact-us-header-form {
    margin-bottom: $site-padding;
    margin-left: $site-padding;
  }
}

.contact-us-form {

  input[type=text],
  input[type=email],
  textarea {
    margin-bottom: $site-padding;
  }
}

.contact-us-form-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;

  input[type=submit] {
    border-radius: 5000px;
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: $secondary-color;
  }

  input[type=submit]:hover {
    background-color: $senary-color;
  }

  .contact-us-file-button {
    background: transparent;
    color: $tertiary-color;
  }
}

.contact-us-list {
  list-style-type: none;
  margin: 0;
  padding-left: 4rem;

  li {
    a {
      color: $quinary-color;
    }
  }

  li::before {
    margin-right: 2rem;
    font-size: $primary-font-size;
    vertical-align: middle;
    color: $tertiary-color;
  }
}


@import "mobile";